{% extends "home.html" %}
{% block content %}
<h2>{{ brand }} kameralary</h2>
<div class="camera-list">
  {% for camera in cameras %}
    <div class="camera-item">
      <h3>{{ camera.name }}</h3>
      <img src="{{ camera.image.url }}" alt="{{ camera.name }}" width="200">
      <p>Bahasy: ${{ camera.price }}</p>
      <form action="{% url 'add_to_cart' camera.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Sebede goş</button>
      </form>
    </div>
  {% endfor %}
</div>
{%endblock%}