{% extends "home.html" %}

{% load math_filters %}
{% load i18n %}
{% block content %}
<div class="page-container">
    <h2 class="section-header">{{ brand }} {% translate "Cameras" %}</h2>
    <div class="card-grid">
        {% for camera in cameras %}
            <div class="device-card">
                <img src="{{ camera.image.url }}" alt="{{ camera.model_name }}" width="200">
                <h3>{{ camera.model_name }}</h3>
                <p>{% translate "Price" %}: {{ camera.price }}TMT</p>
                <form action="{% url 'add_to_cart' camera.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">{% translate "Add to Cart" %}</button>
                </form>
            </div>
        {% empty %}
            <p>{% translate "No cameras available for this brand" %}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}